
/* Footer.css */
.footer {
  position: relative;
  text-align: center;
  background-color: #fafdfb00;
  border-radius: auto;
  bottom: 0;
  padding: 1rem 0;
  width: 100%; /* Certifica-se de que o footer ocupa toda a largura */
}
