/* NavBar.css */
.navbar {
  background-color: #03fb1c;
  padding: 2px 20px;
  color: white;
}

.logo {
  height: 50px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1px;
  font-size: 1.2em;
}

.nav-link:hover {
  color: #ddd;
}
